# version: "3.8"

services:
  #######
  # API #
  #######
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000" # point d'entrée public (gateway)
    restart: unless-stopped
    environment:
      - RECIPE_HOST=api-recipe
      - USER_HOST=api-user
    depends_on:
      - api-user
      - api-recipe
    networks:
      - app-network

  api-user:
    build:
      context: ./api-user
      dockerfile: Dockerfile
    container_name: api-user
    expose:
      - "3001"
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - user-db

  api-recipe:
    build:
      context: ./api-recipe
      dockerfile: Dockerfile
    container_name: api-recipe
    expose:
      - "3002"
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - recipe-db

  ############
  # FRONTEND #
  ############
  frontend:
    build:
      context: ./FRONTEND/AppCook
      dockerfile: Dockerfile
    container_name: angular-app
    ports:
      - "4200:4200"
    environment:
      - API_GATEWAY="http://api-gateway:3000/"
    volumes:
      - ./FRONTEND/AppCook:/src:delegated
      - /src/node_modules # préserver node_modules du conteneur (évite conflit avec host)
    command: sh -c "npm ci --no-audit --no-fund && npm run start -- --host 0.0.0.0"
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - api-gateway

  #######
  # BDD #
  #######
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
      POSTGRES_DB: users_db
      PGDATA: /var/lib/postgresql/data
    volumes:
      - user-db-data:/var/lib/postgresql/data
    networks:
      app-network:
        aliases:
          - db-user

  recipe-db:
    image: postgres:15-alpine
    container_name: recipe-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: recipe
      POSTGRES_PASSWORD: recipe
      POSTGRES_DB: recipes_db
      PGDATA: /var/lib/postgresql/data
    volumes:
      - recipe-db-data:/var/lib/postgresql/data
    networks:
      app-network:
        aliases:
          - db-recipe

  ###########
  # adminer #
  ###########
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app-network

  # user-adminer:
  #   image: adminer
  #   container_name: user-adminer
  #   restart: unless-stopped
  #   ports:
  #     - "8081:8081"
  #   networks:
  #     - app-network

  # recipe-adminer:
  #   image: adminer
  #   container_name: recipe-adminer
  #   restart: unless-stopped
  #   ports:
  #     - "8082:8082"
  #   networks:
  #     - app-network

volumes:
  user-db-data:
  recipe-db-data:

networks:
  app-network:
    driver: bridge
    external: true
