# version: "3.8"

services:
  #######
  # API #
  #######
  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000" # point d'entrée public (gateway)
    restart: unless-stopped
    environment:
      - RECIPE_HOST=api-recipe
      - USER_HOST=api-user
    depends_on:
      - api-user
      - api-recipe
    networks:
      - app-network

  api-user:
    build:
      context: ./api-user
      dockerfile: Dockerfile
    container_name: api-user
    # ports:
    #   - "3001:3001" 
    expose:
      - "3001"
    restart: unless-stopped
    environment:
      PGUSER: ${PGUSER_USER}
      PGPASSWORD: ${PGPASSWORD_USER}
      PGHOST: ${PGHOST_USER}
      PGPORT: ${PGPORT_USER}
      PGDATABASE: ${PGDATABASE_USER}
    networks:
      - app-network
    depends_on:
      - user-db

  api-recipe:
    build:
      context: ./api-recipe
      dockerfile: Dockerfile
    container_name: api-recipe
    expose:
      - "3002"
    restart: unless-stopped
    environment:
      PGUSER: ${PGUSER_RECIPE}
      PGPASSWORD: ${PGPASSWORD_RECIPE}
      PGHOST: ${PGHOST_RECIPE}
      PGPORT: ${PGPORT_RECIPE}
      PGDATABASE: ${PGDATABASE_RECIPE}
    networks:
      - app-network
    depends_on:
      - recipe-db

  ############
  # FRONTEND #
  ############
  frontend:
    build:
      context: ./FRONTEND/AppCook
      dockerfile: Dockerfile
    container_name: angular-app
    ports:
      - "4200:4200"
    environment:
      - API_GATEWAY="http://api-gateway:3000/"
    volumes:
      - ./FRONTEND/AppCook:/src:delegated # code live (hot-reload)
      - /src/node_modules # node_modules isolé dans un volume (évite conflit avec host)
    command: sh -c "npm ci --no-audit --no-fund && npm run start -- --host 0.0.0.0"
    restart: unless-stopped
    networks:
      - app-network
    depends_on:
      - api-gateway

  #######
  # BDD #
  #######
  user-db:
    image: postgres:15-alpine
    container_name: user-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER_USERDB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_USERDB}
      POSTGRES_DB: ${POSTGRES_DB_USERDB}
      PGDATA: /var/lib/postgresql/data
      PGPORT: 5432
    ports:
      - "5442:5432"
    volumes:
      - user-db-data:/var/lib/postgresql/data
      - ./api-user/db:/docker-entrypoint-initdb.d/
    networks:
      app-network:
        aliases:
          - db-user

  recipe-db:
    image: postgres:15-alpine
    container_name: recipe-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER_RECIPEDB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD_RECIPEDB}
      POSTGRES_DB: ${POSTGRES_DB_RECIPEDB}
      PGDATA: /var/lib/postgresql/data
      PGPORT: 5432
    ports:
      - "5443:5432"
    volumes:
      - recipe-db-data:/var/lib/postgresql/data
      - ./api-recipe/db:/docker-entrypoint-initdb.d/
    networks:
      app-network:
        aliases:
          - db-recipe

  ###########
  # adminer #
  ###########
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - app-network

  # user-adminer:
  #   image: adminer
  #   container_name: user-adminer
  #   restart: unless-stopped
  #   ports:
  #     - "8081:8081"
  #   networks:
  #     - app-network

  # recipe-adminer:
  #   image: adminer
  #   container_name: recipe-adminer
  #   restart: unless-stopped
  #   ports:
  #     - "8082:8082"
  #   networks:
  #     - app-network

volumes:
  user-db-data:
  recipe-db-data:
  frontend-node-modules:

networks:
  app-network:
    driver: bridge
    external: true
