<div class="ingredient-picker">
  <div class="search-row">
    <input pInputText placeholder="Rechercher un ingrédient" formControlName="q" />
    <button pButton type="button" icon="pi pi-search" (click)="onSearch()"></button>
  </div>

  <div class="results" *ngIf="results().length">
    <ul>
      <li *ngFor="let r of results()" (click)="selectIngredient(r)">
        <img *ngIf="r['avatarurl']" [src]="r['avatarurl']" alt="{{ r.name }}" />
        {{ r.name }}
      </li>
    </ul>
  </div>

  <div class="controls">
    <input pInputText type="number" formControlName="amount" />
    <select formControlName="unit">
      <option *ngFor="let u of units" [value]="u">{{ u }}</option>
    </select>
    <button pButton type="button" label="Ajouter" (click)="confirmAdd()"></button>
  </div>
</div>
